@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

*{
    margin: 0;
}
body{
    font-family: 'Roboto','Courier New', Courier, monospace;

}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}


.navbar-container{
    display: flex;
    align-items: center;

    padding: 0 50px;
    height: 100%;
    color: white;
}
.logo-container{
    flex: 1;
}

.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #4dbf00;
}
.menu-container{
    flex: 6;
}
.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menulist{
    display: flex;
    list-style: none;
}
.menu-list-item{
    margin-right: 50px;
}
.menu-list-item.active{
    font-weight: 700;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius:50% ;
    object-fit: cover;
}

.profile-text-container{
    margin: 0 20px;
}
.toggle{
    width: 40px;
    height: 20px;
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.toggle-icon{
    color: goldenrod;
}
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-menu-icon{
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
    cursor: pointer;
}
.container{
    width: 100%;
    background-color: #151515;
    height:calc(100vh - 50px);
    color: white;
}
.content-container{
    margin-left: 50px;
}

.featured-container{
    height: 50vh;
    background-color: tomato;
}